* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #fffbf0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    transition: 0.3s;
}

body.dark-mode {
    background: #1e1e1e;
    color: white;
}

.toggle-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

#themeToggle {
    padding: 10px 20px;
    background: #ff6b00;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.container {
    background: white;
    width: 350px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    text-align: center;
    transition: 0.3s;
}

body.dark-mode .container {
    background: #2d2d2d;
}

.logo {
    font-size: 35px;
    font-weight: 700;
    color: #ff6b00;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

body.dark-mode .input-group input {
    background: #3a3a3a;
    color: white;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #ff6b00;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
}

.msg {
    margin-top: 15px;
    color: green;
}

body.dark-mode .msg {
    color: #90ee90;
}

.links {
    margin-top: 15px;
    font-size: 14px;
}

.links a {
    text-decoration: none;
    color: #ff6b00;
}


/* RESPONSIVE */

@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 20px;
    }

    #themeToggle {
        padding: 8px 15px;
        font-size: 14px;
    }
}
